################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_obj/*
/_bin/*
/.vs/*
/HushDB.sdf
*.opendb
